.bg-dark {
    background-image: url('/assets/banner.jpg');
    background-size: cover;
    position: relative;
}
header{
    position: relative;
    height: 50vh;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

